<header class="navbar navbar-ligth sticky-top bg-light flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"><h2>Double V Parthners</h2></a>
     
  
    <div class="navbar-nav">
        <div class="text-center pt-4 text-muted">Tienes una cuenta? <a id="forgot" routerLink="/login" href="#">Ingresa</a> </div>
    </div>
  </header>
<div class="outer">
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
              <div class="panel border bg-white">
                  <div class="panel-heading">
                      <h3 class="pt-3 font-weight-bold">Registro</h3>
                  </div>
                  <div class="panel-body p-3">
                      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUpForm.controls['nombre'].dirty && signUpForm.hasError('required','nombre')"> <span class="fa fa-user p-2"></span> <input formControlName="nombre" type="text" placeholder="Nombre"> </div>
                          </div>
                          <small *ngIf="signUpForm.controls['nombre'].dirty && signUpForm.hasError('required','nombre')" class="text-danger">*Campo obligatorio*</small>
                        
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUpForm.controls['apellidos'].dirty && signUpForm.hasError('required','apellidos')"> <span class="fa fa-user p-2"></span> <input formControlName="apellidos" type="text" placeholder="Apellidos"> </div>
                          </div>
                          <small *ngIf="signUpForm.controls['apellidos'].dirty && signUpForm.hasError('required','apellidos')" class="text-danger">*apellidos requeridos*</small>
                          
                        
                    <div class="form-group pt-3" >
                        <p class="label">Tipo Identificación</p>
                        <select class="form-select"   input formControlName="tipoIdentificacion"  >
                           
                            <option value="Cédula">Cédula</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="C. Extranjería">C.Extranjería</option>
                          </select>
                        </div>

                        
                        
                        
                        
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signUpForm.controls['nroIdentificacion'].dirty && signUpForm.hasError('required','nroIdentificacion')"> <span class="fa fa-user p-2"></span> <input formControlName="nroIdentificacion" type="text" placeholder="Identificacion"> </div>
                        </div>
                        <small *ngIf="signUpForm.controls['nroIdentificacion'].dirty && signUpForm.hasError('required','nroIdentificacion')" class="text-danger">*Campo obligatorio*</small>
                 
                         
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')"> <span class="fa fa-user p-2"></span> <input formControlName="userName" type="text" placeholder="Nombre usuario"> </div>
                          </div>
                          <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" class="text-danger">*Nobre de usuario es obligatorio*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"> <span class="fa fa-user p-2"></span> <input formControlName="email" type="text" placeholder="Email"> </div>
                          </div>
                          <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Email is required*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"> <span class="fa fa-lock px-2"></span> <input formControlName="password" [type]="type" placeholder="Password"> <button (click)="hideShowPass()" type="button" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button>                                    </div>
                          </div>
                          <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password ES OBLIGATORIO*</small>

                          <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Registrarse</button>
                             </form>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
